@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
  }
}

@layer components {
  .container {
    @apply bg-white min-h-screen mx-auto box-border !pt-20 p-4;
  }
}

.nav {
  @apply bg-blue-400  h-16 px-4 flex items-center fixed top-0 z-10 right-0 left-0;
}
